@model Property

<div class="alert alert-info">
    <strong>Note:</strong> Note: Please fill in all information so that your post will be approved quickly.
</div>
<div class="alert alert-warning">
    <strong>Note:</strong> Please do not post fake or misleading information. We will delete your post if
    detected. Please ensure that all information is accurate to avoid any issues.
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var e in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@e.ErrorMessage</div>
        }
    </div>
}

<div class="form-group mb-3">
    <label asp-for="Title"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>
<div class="form-group mb-3">
    <label asp-for="Price"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>
<div class="form-group mb-3">
    <label asp-for="Address"></label>
    <input asp-for="Address" class="form-control" />
</div>
<div class="form-group mb-3">
    <label asp-for="Type">Property Type</label>
    <select asp-for="Type" class="form-select">
        <option value="">All Types</option>
        <option value="House">House</option>
        <option value="Apartment">Apartment</option>
        <option value="Villa">Villa</option>
        <option value="Commercial">Commercial</option>
    </select>
</div>
<div class="form-group mb-3">
    <label asp-for="Description"></label>
    <textarea asp-for="Description" class="form-control"></textarea>
</div>
<div class="form-group mb-3">
    <label for="ImageFiles">Chọn ảnh</label>
    <input type="file" name="ImageFiles" multiple class="form-control" />
</div>
