@model Property
@{
    ViewData["Title"] = "Đăng tin mới";
}

<h2>Post New Real Estate</h2>

<form asp-action="Create" method="post" class="mt-3" enctype="multipart/form-data">
    <partial name="_Form" />
    
    <button type="submit" class="btn btn-success">Submit</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
